<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find cvg_sim_gazebo_plugins)/urdf/quadrotor_sensors.urdf.xacro" />
  <xacro:include filename="$(find cvg_sim_gazebo_plugins)/urdf/quadrotor_simple_controller.urdf.xacro" />

  <!-- Quadrotor Gazebo Plugins -->
  <xacro:macro name="quadrotor_plugins">
    <canonicalBody>base_link</canonicalBody>
    <quadrotor_sensors/>
    <quadrotor_controller/>
    <gazebo>
          <plugin name="ros_air_friction" filename="libgazebo_ros_air_friction.so">
            <alwaysOn>true</alwaysOn>
            <bodyName>base_link</bodyName>
            <frameId>ardrone_base_link</frameId>
            <topicName>/ardrone/setforce</topicName>
          </plugin>
    </gazebo>
  </xacro:macro>
</robot>
